.wrap{
    position: absolute;
    width: 480px;
}

.header__top{
    background-image: url(../img/003.png);
    height: 750px;
    top: 0px;
    left: 0px;    
}
.timer__out{
    position: absolute;
    z-index: 2;
    font-family: Gotham Pro;
    font-size: 45px;
    letter-spacing: 31px;
    font-weight: bold;
    color: black;
}
.timer__out{
    width: 33px;
    height: 42px;
    left: 27px;
    top: 65px;
}
.header__title{
    position: absolute;
    width: 405px;
    height: 38px;
    left: 46px;
    top: 34px;
}
.header__title{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 38px;
    text-transform: uppercase;
}
.header__title{
    color: #48509a;
}
.header__text{
    position: absolute;
    width: 357px;
    height: 54px;
    left: 69px;
    top: 69px;
}
.header__text{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 27px;
    text-align: center;
}
.header__text{
    color: #000000;
}
.header_discout_box{
    position: absolute;
    width: 187px;
    height: 67px;
    left: 267px;
    top: 134px;
}
.time__end{
    position: absolute;
    width: 480px;
    height: 171px;
    left: 0px;
    top: 579px;
}
.time__end{
    background: #ffffff;
}
.time__end__clock{
    position: absolute;
    width: 432px;
    height: 24px;
    left: 28px;
    top: 12px;
}
.time__end__clock{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 92.7%;
    text-transform: uppercase;
}
.time__end__clock{
    color: black;
}
.time__icon1{
    position: absolute;
    width: 52px;
    height: 70px;
    left: -10px;
    top: 41px;
}
.time__icon1{
    background-color: #c4c4c4;
    border-radius: 3px;
}

.time__icon2{
    position: absolute;
    width: 52px;
    height: 70px;
    left: 53px;
    top: 41px;
}
.time__icon2{
    background-color: #c4c4c4;
    border-radius: 3px;
}
.time__icon3{
    position: absolute;
    width: 52px;
    height: 70px;
    left: 153px;
    top: 41px;
}
.time__icon3{
    background-color: #c4c4c4;
    border-radius: 3px;
}
.time__icon4{
    position: absolute;
    width: 52px;
    height: 70px;
    left: 218px;
    top: 41px;
}
.time__icon4{
    background-color: #c4c4c4;
    border-radius: 3px;
}
.time__icon5{
    position: absolute;
    width: 52px;
    height: 70px;
    left: 315px;
    top: 41px;
}
.time__icon5{
    background-color: #c4c4c4;
    border-radius: 3px;
}
.time__icon6{
    position: absolute;
    width: 52px;
    height: 70px;
    left: 380px;
    top: 41px;
}
.time__icon6{
    background-color: #c4c4c4;
    border-radius: 3px;
}
.text__icon1{
    position: absolute;
    width: 72px;
    height: 22px;
    left: 7px;
    top: 118px;
}
.text__icon1{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 92.7%;
}
.text__icon2{
    position: absolute;
    width: 74px;
    height: 22px;
    left: 170px;
    top: 118px;
}
.text__icon2{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 92.7%;
}
.text__icon3{
    position: absolute;
    width: 86px;
    height: 22px;
    left: 327px;
    top: 118px;
}
.text__icon3{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 92.7%;
}
.header__bay{
    position: absolute;
    z-index: 2;
    width: 480px;
    height: 163px;
    left: 0px;
    top: 745px;
}
.header__bay{
    background: #4a519a;
}
.ellipse1{
    position: absolute;
    width: 77px;
    height: 77px;
    left: 41px;
    top: 8px
}
.ellipse1{
    background: url(../img/01.png);
}
.ellipse2{
    position: absolute;
    width: 77px;
    height: 77px;
    left: 205px;
    top: 8px
}
.ellipse2{
    background: url(../img/01.png);
}
.ellipse3{
    position: absolute;
    width: 77px;
    height: 77px;
    left: 360px;
    top: 8px
}
.ellipse3{
    background: url(../img/01.png);
}
.elli__img1{
    position: absolute;
    width: 52px;
    height: 52px;
    left: 53px;
    top: 20px;
}
.elli__img1{
    background: url(../img/001-cylinder.png);
}
.elli__img2{
    position: absolute;
    width: 61px;
    height: 61px;
    left: 208px;
    top: 14px;
}
.elli__img2{
    background: url(../img/002-clock.png);
}
.elli__img3{
    position: absolute;
    width: 56px;
    height: 56px;
    left: 371px;
    top: 16px;
}
.elli__img3{
    background: url(../img/003-chef.png);
}
.elli__text1{
    position: absolute;
    width: 104px;
    height: 67px;
    left: 24px;
    top: 94px;
}
.elli__text1{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 14px;
    text-align: center;
}
.elli__text1{
    color: #ffffff;
}
.elli__text2{
    position: absolute;
    width: 136px;
    height: 67px;
    left: 171px;
    top: 94px;
}
.elli__text2{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 14px;
    text-align: center;
}
.elli__text2{
    color: #ffffff;
}
.elli__text3{
    position: absolute;
    width: 133px;
    height: 67px;
    left: 333px;
    top: 94px;
}
.elli__text3{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 14px;
    text-align: center;
}
.elli__text3{
    color: #ffffff;
}
.prise__buy{
    position: absolute;
    width: 240px;
    height: 77px;
    left: 0px;
    top: 908px;
}
.prise__buy{
    background: #e0dddd;
}
.prise__new{
    position: absolute;
    width: 240px;
    height: 77px;
    left: 240px;
    top: 908px;
}
.prise__new{
   background-color: #ffe600;
}
.discount{
    position: absolute;
    z-index: 2;
    width: 91px;
    height: 94px;
    left: 197px;
    top: 899px;
}
.discount{
    background: #ff0000;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.buy__discount{
    position: absolute;
    width: 449px;
    height: 76px;
    left: 16px;
    top: 1050px;
}
.buy__discount{
    background: linear-gradient(183.07deg, #8793ff 28.77%, #474f9a 97.45%); 
    box-shadow: 0px 22px 44px -12px rgba(37, 70, 144, 0.35);
    border-radius: 100px;
}
.buy__discount h1{
    position: absolute;
    width: 399px;
    height: 28px;
    left: 29px;
    top: 27px;
}
.buy__discount h1{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 92.7%;
    text-transform: uppercase;
}
.buy__discount h1{
    color: #ffffff;
}
.discount h1{
    position: absolute;
    width: 20px;
    height: 54px;
    left: 4px;
    top: 21px;
}
.discount h1{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 21.6px;
    line-height: 92.7%;
}
.discount h1{
    color: #ffffff;
}
.discount p{
    position: absolute;
    width: 66.4px;
    height: 54px;
    left: 4px;
    top: 45.5px;
}
.discount p{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 35.6px;
    line-height: 92.7%;
}
.discount p{
    color: #ffffff;
}
.prise__new h2{
    position: absolute;
    width: 153px;
    height: 30px;
    left: 60px;
    top: 5px;
}
.prise__new h2{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 118.7%;
    text-align: center;
}
.prise__new h2{
    color: #000000;
}
.prise__new p{
    position: absolute;
    width: 53px;
    height: 56px;
    left: 90px;
    top: 28px;
}
.prise__new p{
    font-family: circe;
    font-style: normal;
    font-weight: 800;
    font-size: 47.6541px;
    line-height: 118.7%;
    text-align: center;
}
.prise__new p{
    color: #000000;
}
.prise__new__p{
    position: absolute;
    width: 9.53px;
    height: 19.78px;
    left: 142.58px;
    top: 52.54px;
}  
.prise__new__p{
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 16.6789px;
    line-height: 118.7%;
    text-align: center;
}
.prise__new__p{
    color: #000000;
}
.prise__new_99{
    position: absolute;
    width: 27.64px;
    height: 29.07px;
    left: 153.07px;
    top: 35.05px;
}
.prise__new_99{
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 118.7%;
    text-align: center;
}
.prise__new_99{
    color: #000000;
}
.prise__new_k{
    position: absolute;
    width: 9.29px;
    height: 21.21px;
    left: 180.71px;
    top: 37.77px;
}
.prise__new_k{
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 118.7%;
    text-align: center;
}
.prise__new_k{
    color: #000000;
}
.prise__buy h1{
    position: absolute;
    width: 183px;
    height: 30px;
    left: 8px;
    top: 5px;
}
.prise__buy h1{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 118.7%;
    text-align: center;
}
.prise__buy h1{
    color: #000000;
}
.prise__buy h2{
    position: absolute;
    width: 43px;
    height: 40px;
    left: 57px;
    top: 34px;
}
.prise__buy h2{
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 33.7427px;
    line-height: 118.7%;
    text-align: center;
}
.prise__buy h2{
    color: #000000;
}
.prise__buy_99{
    position: absolute;
    width: 19.57px;
    height: 20.58px;
    left: 105.67px;
    top: 37.87px;
}
.prise__buy_99{
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 17.3775px;
    line-height: 118.7%;
    text-align: center;
}
.prise__buy_99{
    color: #000000;
}
.prise__buy_p{
    position: absolute;
    width: 6.76px;
    height: 14px;
    left: 98.25px;
    top: 52.38px;
}
.prise__buy_p{
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 11.8099px;
    line-height: 118.7%;
    text-align: center;
}
.prise__buy_p{
    color: #000000;
}
.prise__buy_k{
    position: absolute;
    width: 6.68px;
    height: 15.05px;
    left: 125.24px;
    top: 41.92px;
}
.prise__buy_k{
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 12.6535px;
    line-height: 118.7%;
    text-align: center;
}
.prise__buy_k{
    color: #000000;
}
.title__why{
    position: absolute;
    width: 448px;
    height: 84px;
    left: 20px;
    top: 1137px;
}
.title__why{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 42px;
    text-align: center;
}
.title__why{
    color: black;
}
.middle__top{
    position: absolute;
    width: 480px;
    height: 826px;
    left: 0px;
    top: 1229px;
}
.middle__top{
    background: url(../img/image\ 1\ 1.png);
}
.middle__top h1{
    position: absolute;
    width: 441;
    height: 104px;
    left: 30px;
    top: 51px;
}
.middle__top h1{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    text-transform: uppercase;
}
.middle__top h1{
    color: #ffffff;
}
.middle__top p{
    position: absolute;
    width: 414px;
    height: 238px;
    left: 40px;
    top: 236px;
}
.middle__top p{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    line-height: 1.4;
    font-size: 24px;
    line-height: 140,2%;
}
.middle__top p{
    color: #000000;
}
.middle__options{
    position: absolute;
    width: 480px;
    height: 541px;
    left: 0px;
    top: 2063px;
}
.middle__options{
    background: url(../img/хр\ 1.png);
}
.middle__options h1{
    position: absolute;
    width: 446px;
    height: 42px;
    left: 22px;
    top: 40px;
}
.middle__options h1{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
}
.middle__options h1{
    color: #000000;
}
.strok__1{
    position: absolute;
    width: 138px;
    height: 25px;
    left: 11px;
    top: 110px;
}
.strok__1{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 25px;
    text-align: center;
}
.strok__1{
    color: #000000;
}
.strok__2{
    position: absolute;
    width: 216px;
    height: 25px;
    left: 11px;
    top: 174px;
}
.strok__2{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 25px;
    text-align: center;
}
.strok__2{
    color: #000000;
}
.strok__3{
    position: absolute;
    width: 199px;
    height: 25px;
    left: 11px;
    top: 264px;
}
.strok__3{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 25px;
    text-align: center;
}
.strok__3{
    color: #000000;
}
.strok__4{
    position: absolute;
    width: 198px;
    height: 25px;
    left: 11px;
    top: 378px;
}
.strok__4{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 25px;
    text-align: center;
}
.strok__4{
    color: #000000;
}
.strok__5{
    position: absolute;
    width: 56px;
    height: 25px;
    left: 11px;
    top: 422px;
}
.strok__5{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 25px;
    text-align: center;
}
.strok__5{
    color: #000000;
}
.strok__6{
    position: absolute;
    width: 236px;
    height: 25px;
    left: 11px;
    top: 466px;
}
.strok__6{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 25px;
    text-align: center;
}
.strok__6{
    color: #000000;
}
.strok__1_2{
    position: absolute;
    width: 123.51px;
    height: 51.17px;
    left: 273px;
    top: 110px;
}
.strok__1_2{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 24px;
}
.strok__1_2{
    color: #000000;
}
.strok__2_2{
    position: absolute;
    width: 172.03px;
    height: 76.75px;
    left: 273px;
    top: 174px;
}
.strok__2_2{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 24px;
}
.strok__2_2{
    color: #000000;
}
.strok__3_2{
    position: absolute;
    width: 203.79px;
    height: 102.34px;
    left: 273px;
    top: 264px;
}
.strok__3_2{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 24px;
}
.strok__3_2{
    color: #000000;
}
.strok__4_2{
    position: absolute;
    width: 112.92px;
    height: 25.58px;
    left: 273px;
    top: 378px;
}
.strok__4_2{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 24px;
}
.strok__4_2{
    color: #000000;
}
.strok__5_2{
    position: absolute;
    width: 79.4px;
    height: 25.58px;
    left: 273px;
    top: 422px;
}
.strok__5_2{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 24px;
}
.strok__5_2{
    color: #000000;
}
.strok__6_2{
    position: absolute;
    width: 181.74x;
    height: 25.58px;
    left: 273px;
    top: 466px;
}
.strok__6_2{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 24px;
}
.strok__6_2{
    color: #000000;
}
.prise__buy_2{
    position: absolute;
    width: 240px;
    height: 77px;
    left: 0px;
    top: 2604px;
}
.prise__buy_2{
    background: #e0dddd;
}
.prise__new_2{
    position: absolute;
    width: 240px;
    height: 77px;
    left: 240px;
    top: 2604px;
}
.prise__new_2{
   background-color: #ffe600;
}
.discount_2{
    position: absolute;
    z-index: 2;
    width: 91px;
    height: 94px;
    left: 197px;
    top: 2595px;
}
.discount_2{
    background: #ff0000;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.buy__discount_2{
    position: absolute;
    width: 449px;
    height: 76px;
    left: 16px;
    top: 2723px;
}
.buy__discount_2{
    background: linear-gradient(183.07deg, #8793ff 28.77%, #474f9a 97.45%); 
    box-shadow: 0px 22px 44px -12px rgba(37, 70, 144, 0.35);
    border-radius: 100px;
}
.buy__discount_2 h1{
    position: absolute;
    width: 399px;
    height: 28px;
    left: 29px;
    top: 27px;
}
.buy__discount_2 h1{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 92.7%;
    text-transform: uppercase;
}
.buy__discount_2 h1{
    color: #ffffff;
}
.discount_2 h1{
    position: absolute;
    width: 20px;
    height: 54px;
    left: 4px;
    top: 21px;
}
.discount_2 h1{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 21.6px;
    line-height: 92.7%;
}
.discount_2 h1{
    color: #ffffff;
}
.discount_2 p{
    position: absolute;
    width: 66.4px;
    height: 54px;
    left: 4px;
    top: 45.5px;
}
.discount_2 p{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 35.6px;
    line-height: 92.7%;
}
.discount_2 p{
    color: #ffffff;
}
.prise__new_2 h2{
    position: absolute;
    width: 153px;
    height: 30px;
    left: 60px;
    top: 5px;
}
.prise__new_2 h2{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 118.7%;
    text-align: center;
}
.prise__new_2 h2{
    color: #000000;
}
.prise__new_2 p{
    position: absolute;
    width: 53px;
    height: 56px;
    left: 90px;
    top: 28px;
}
.prise__new_2 p{
    font-family: circe;
    font-style: normal;
    font-weight: 800;
    font-size: 47.6541px;
    line-height: 118.7%;
    text-align: center;
}
.prise__new_2 p{
    color: #000000;
}
.prise__new__p_2{
    position: absolute;
    width: 9.53px;
    height: 19.78px;
    left: 142.58px;
    top: 52.54px;
}  
.prise__new__p_2{
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 16.6789px;
    line-height: 118.7%;
    text-align: center;
}
.prise__new__p_2{
    color: #000000;
}
.prise__new_99_2{
    position: absolute;
    width: 27.64px;
    height: 29.07px;
    left: 153.07px;
    top: 35.05px;
}
.prise__new_99_2{
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 118.7%;
    text-align: center;
}
.prise__new_99_2{
    color: #000000;
}
.prise__new_k_2{
    position: absolute;
    width: 9.29px;
    height: 21.21px;
    left: 180.71px;
    top: 37.77px;
}
.prise__new_k_2{
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 118.7%;
    text-align: center;
}
.prise__new_k_2{
    color: #000000;
}
.prise__buy_2 h1{
    position: absolute;
    width: 183px;
    height: 30px;
    left: 8px;
    top: 5px;
}
.prise__buy_2 h1{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 118.7%;
    text-align: center;
}
.prise__buy_2 h1{
    color: #000000;
}
.prise__buy_2 h2{
    position: absolute;
    width: 43px;
    height: 40px;
    left: 57px;
    top: 34px;
}
.prise__buy_2 h2{
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 33.7427px;
    line-height: 118.7%;
    text-align: center;
}
.prise__buy_2 h2{
    color: #000000;
}
.prise__buy_99_2{
    position: absolute;
    width: 19.57px;
    height: 20.58px;
    left: 105.67px;
    top: 37.87px;
}
.prise__buy_99_2{
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 17.3775px;
    line-height: 118.7%;
    text-align: center;
}
.prise__buy_99_2{
    color: #000000;
}
.prise__buy_p_2{
    position: absolute;
    width: 6.76px;
    height: 14px;
    left: 98.25px;
    top: 52.38px;
}
.prise__buy_p_2{
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 11.8099px;
    line-height: 118.7%;
    text-align: center;
}
.prise__buy_p_2{
    color: #000000;
}
.prise__buy_k_2{
    position: absolute;
    width: 6.68px;
    height: 15.05px;
    left: 125.24px;
    top: 41.92px;
}
.prise__buy_k_2{
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 12.6535px;
    line-height: 118.7%;
    text-align: center;
}
.prise__buy_k_2{
    color: #000000;
}
.middle__info{
    position: absolute;
    width: 480px;
    height: 852.88px;
    left: 0px;
    top: 2842px;
}
.middle__info{
    background: url(../img/картинка\ 2.png);
}
.middle__info h1{
    position: absolute;
    width: 400px;
    height: 125px;
    left: 42px;
    top: 31px;
}
.middle__info h1{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 25px;
    text-transform: uppercase;
}
.middle__info h1{
    color: #ffffff;
}
.middle__info h2{
    position: absolute;
    width: 322px;
    height: 46px;
    left: 79px;
    top: 410px;
}
.middle__info h2{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
}
.middle__info h2{
    color: #e43416;
}
.middle__info h3{
    position: absolute;
    width: 322px;
    height: 46px;
    left: 85px;
    top: 744px;
}
.middle__info h3{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
}
.middle__info h3{
    color: #41b71c;
}
.fitback__fon{
    position: absolute;
    width: 480px;
    height: 953.2px;
    left: 0px;
    top: 3694.88px;
}
.fitback__fon{
    color: #ffffff;
}
.middle__fitback h1{
    position: absolute;
    width: 358px;
    height: 84px;
    left: 61px;
    top: 3737px;
}
.middle__fitback h1{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
}
.middle__fitback h1{
    color: #000000;
}
.middle__fitback h2{
    position: absolute;
    width: 258px;
    height: 30px;
    left: 98px;
    top: 3862px;
}
.middle__fitback h2{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 121%;
}
.middle__fitback h2{
    color: #000000;
}
.middle__fitback p{
    position: absolute;
    width: 65px;
    height: 24px;
    left: 98px;
    top: 3890px;
}
.middle__fitback p{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 121%;
}
.middle__fitback p{
    color: #000000;
}
.middle__comment{
    position: absolute;
    width: 424px;
    height: 197px;
    left: 22px;
    top: 3941px;
}
.middle__comment{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 115.38%;
}
.middle__comment{
    color: #000000;
}
.middle__data{
    position: absolute;
    width: 99px;
    height: 24px;
    left: 363px;
    top: 3889px;
}
.middle__data{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 131%;
}
.middle__data{
    color: #000000;
}
.middle__star1{
    position: absolute;
    width: 17px;
    height: 17px;
    left: 363px;
    top: 3868px;
}
.middle__star1{
    background: url(../img/Star\ 4.png);
}
.middle__star2{
    position: absolute;
    width: 17px;
    height: 17px;
    left: 384px;
    top: 3868px;
}
.middle__star2{
    background: url(../img/Star\ 4.png);
}
.middle__star3{
    position: absolute;
    width: 17px;
    height: 17px;
    left: 405px;
    top: 3868px;
}
.middle__star3{
    background: url(../img/Star\ 4.png);
}
.middle__star4{
    position: absolute;
    width: 17px;
    height: 17px;
    left: 426px;
    top: 3868px;
}
.middle__star4{
    background: url(../img/Star\ 4.png);
}
.middle__star5{
    position: absolute;
    width: 17px;
    height: 17px;
    left: 447px;
    top: 3868px;
}
.middle__star5{
    background: url(../img/Star\ 4.png);
}
.middle__photo{
    position: absolute;
    width: 105px;
    height: 90px;
    left: 0px;
    top: 3847px;
}
.middle__photo{
    background: url(../img/фото\ 2.png);
}
.middle__comment__img{
    position: absolute;
    width: 437px;
    height: 348px;
    left: 25px;
    top: 4090px;
}
.middle__comment__img{
    background: url(../img/image\ 3.png);
}
.middle__tiket h1{
    position: absolute;
    width: 300px;
    height: 28px;
    left: 75px;
    top: 27px;
}
.middle__tiket h1{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 92.7%;
    text-transform: uppercase;
}
.middle__tiket h1{
    color: #ffffff;
}
.middle__tiket{
    position: absolute;
    width: 449px;
    height: 76px;
    left: 16px;
    top: 4473px;
}
.middle__tiket{
    background: linear-gradient(180deg, #f96b53 0%, #e43315 63.54%);
    box-shadow: 0px 22px 44px -12px rgba(225, 0, 0, 0.35);
    border-radius: 100px;
}
.to_order{
    position: absolute;
    z-index: 2;
    width: 365px;
    height: 84px;
    left: 58px;
    top: 4607px;
}
.to_order{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
}
.to_order{
    color: #000000;
}
.to_order_fon{
    position: absolute;
    width: 480px;
    height: 634px;
    left: 0px;
    top: 4648px;
}
.to_order_fon{
    background: url(../img/доставка\ 1.png);
}
.to_order_fon h1{
    position: absolute;
    width: 188px;
    height: 38px;
    left: 31.07px;
    top: 190px;
}
.to_order_fon h1{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 92.7%;
    text-align: center;
}
.to_order_fon h1{
    color: #000000;
}
.to_order_fon h2{
    position: absolute;
    width: 215px;
    height: 57px;
    left: 247.07px;
    top: 190px;
}
.to_order_fon h2{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 92.7%;
    text-align: center;
}
.to_order_fon h2{
    color: #000000;
}
.to_order_fon h3{
    position: absolute;
    width: 188px;
    height: 38px;
    left: 30.07px;
    top: 425px;
}
.to_order_fon h3{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 92.7%;
    text-align: center;
}
.to_order_fon h3{
    color: #000000;
}
.to_order_fon h4{
    position: absolute;
    width: 149px;
    height: 65px;
    left: 280px;
    top: 420px;
}
.to_order_fon h4{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 92.7%;
    text-align: center;
}
.to_order_fon h4{
    color: #000000;
}
.final__fantasy{
    position: absolute;
    width: 480px;
    height: 750px;
    left: 0px;
    top: 5209px;
}
.final__fantasy{
    background: url(../img/2121212\ 1.png);
}
.final__fantasy h1{
    position: absolute;
    width: 452px;
    height: 45px;
    left: 17px;
    top: 37px;
}
.final__fantasy h1{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 47px;
    line-height: 45px;
}
.final__fantasy h1{
    color: #ffffff;
}
.final__fantasy h2{
    position: absolute;
    width: 461px;
    height: 24px;
    left: 9px;
    top: 120px;
}
.final__fantasy h2{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 24px;
    text-align: center;
}
.final__fantasy h2{
    color: #000000;
}
.to_order__block{
    position: absolute;
    width: 480px;
    height: 185px;
    left: 0px;
    top: 5791px;
}
.to_order__block{
    background: #f2c080;
}
.final__discount{
    position: absolute;
    width: 155px;
    height: 136.71px;
    left: 333px;
    top: 455.29px;
}
.final__discount{
    background: url(../img/скидка.png);
}
.final__discount h1{
    position: absolute;
    width: 166.69px;
    height: 41.8px;
    left: -3.5px;
    top: 52.25px;
}
.final__discount h1{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: 900;
    font-size: 43.5393px;
    line-height: 42px;
    text-align: center;
}
.final__discount h1{
    color: #000000;
}
.order__block__text1{
    position: absolute;
    width: 398px;
    height: 67px;
    left: 14px;
    top: 30px;
}
.order__block__text1{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 16px;
    text-align: center;
}
.order__block__text1{
    color: #000000;
}
.order__block__text2{
    position: absolute;
    width: 401px;
    height: 67px;
    left: 63px;
    top: 80px;
}
.order__block__text2{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 16px;
    text-align: center;
}
.order__block__text2{
    color: #000000;
}
.order__block__text3{
    position: absolute;
    width: 424px;
    height: 37px;
    left: 60px;
    top: 131px;
}
.order__block__text3{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 16px;
    text-align: center;
}
.order__block__text3{
    color: #000000;
}
.order__block__img1{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 20.96px;
    top: 18px;
}
.order__block__img1{
    background: url(../img/Ellipse\ 3.png);
}
.order__block__img2{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 20.96px;
    top: 68px;
}
.order__block__img2{
    background: url(../img/Ellipse\ 3.png);
}
.order__block__img3{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 20.96px;
    top: 119px;
}
.order__block__img3{
    background: url(../img/Ellipse\ 3.png);
}
.order__img1{
    position: absolute;
    width: 33.56px;
    height: 33.56px;
    left: 23px;
    top: 19.07px;
}
.order__img1{
    background: url(../img/gir.png);
}
.order__img2{
    position: absolute;
    width: 33.56px;
    height: 33.56px;
    left: 23px;
    top: 69.07px;
}
.order__img2{
    background: url(../img/gir2.png);
}
.order__img3{
    position: absolute;
    width: 31.79px;
    height: 31.79px;
    left: 23px;
    top: 120.07px;
}
.order__img3{
    background: url(../img/gir3.png);
}
.prise__buy_3{
    position: absolute;
    width: 240px;
    height: 77px;
    left: 0px;
    top: 5971px;
}
.prise__buy_3{
    background: #e0dddd;
}
.prise__new_3{
    position: absolute;
    width: 240px;
    height: 77px;
    left: 240px;
    top: 5971px;
}
.prise__new_3{
   background-color: #ffe600;
}
.discount_3{
    position: absolute;
    z-index: 2;
    width: 91px;
    height: 94px;
    left: 197px;
    top: 5962px;
}
.discount_3{
    background: #ff0000;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.discount_3 h1{
    position: absolute;
    width: 20px;
    height: 54px;
    left: 4px;
    top: 21px;
}
.discount_3 h1{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 21.6px;
    line-height: 92.7%;
}
.discount_3 h1{
    color: #ffffff;
}
.discount_3 p{
    position: absolute;
    width: 66.4px;
    height: 54px;
    left: 4px;
    top: 45.5px;
}
.discount_3 p{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 35.6px;
    line-height: 92.7%;
}
.discount_3 p{
    color: #ffffff;
}
.prise__new_3 h2{
    position: absolute;
    width: 153px;
    height: 30px;
    left: 60px;
    top: 5px;
}
.prise__new_3 h2{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 118.7%;
    text-align: center;
}
.prise__new_3 h2{
    color: #000000;
}
.prise__new_3 p{
    position: absolute;
    width: 53px;
    height: 56px;
    left: 90px;
    top: 28px;
}
.prise__new_3 p{
    font-family: circe;
    font-style: normal;
    font-weight: 800;
    font-size: 47.6541px;
    line-height: 118.7%;
    text-align: center;
}
.prise__new_3 p{
    color: #000000;
}
.prise__new__p_3{
    position: absolute;
    width: 9.53px;
    height: 19.78px;
    left: 142.58px;
    top: 52.54px;
}  
.prise__new__p_3{
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 16.6789px;
    line-height: 118.7%;
    text-align: center;
}
.prise__new__p_3{
    color: #000000;
}
.prise__new_99_3{
    position: absolute;
    width: 27.64px;
    height: 29.07px;
    left: 153.07px;
    top: 35.05px;
}
.prise__new_99_3{
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 118.7%;
    text-align: center;
}
.prise__new_99_3{
    color: #000000;
}
.prise__new_k_3{
    position: absolute;
    width: 9.29px;
    height: 21.21px;
    left: 180.71px;
    top: 37.77px;
}
.prise__new_k_3{
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 118.7%;
    text-align: center;
}
.prise__new_k_3{
    color: #000000;
}
.prise__buy_3 h1{
    position: absolute;
    width: 183px;
    height: 30px;
    left: 8px;
    top: 5px;
}
.prise__buy_3 h1{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 118.7%;
    text-align: center;
}
.prise__buy_3 h1{
    color: #000000;
}
.prise__buy_3 h2{
    position: absolute;
    width: 43px;
    height: 40px;
    left: 57px;
    top: 34px;
}
.prise__buy_3 h2{
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 33.7427px;
    line-height: 118.7%;
    text-align: center;
}
.prise__buy_3 h2{
    color: #000000;
}
.prise__buy_99_3{
    position: absolute;
    width: 19.57px;
    height: 20.58px;
    left: 105.67px;
    top: 37.87px;
}
.prise__buy_99_3{
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 17.3775px;
    line-height: 118.7%;
    text-align: center;
}
.prise__buy_99_3{
    color: #000000;
}
.prise__buy_p_3{
    position: absolute;
    width: 6.76px;
    height: 14px;
    left: 98.25px;
    top: 52.38px;
}
.prise__buy_p_3{
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 11.8099px;
    line-height: 118.7%;
    text-align: center;
}
.prise__buy_p_3{
    color: #000000;
}
.prise__buy_k_3{
    position: absolute;
    width: 6.68px;
    height: 15.05px;
    left: 125.24px;
    top: 41.92px;
}
.prise__buy_k_3{
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 12.6535px;
    line-height: 118.7%;
    text-align: center;
}
.prise__buy_k_3{
    color: #000000;
}